		body{
			margin: 0;
			font-size: 14px;
			}
		a{
			display:inline-block;
			text-decoration: none;
			color: inherit;
		 }
        input {
            outline: none;
        }
		ol{
			list-style: none;
		}
		li{
			display:inline-block;
			    width: 278px;
				height:34px;
				line-height: 32px;
		}
		ul{
			column-count:2;
			margin:0;
			padding:0;
		}
		i{
			font-style:normal;
		}
		.header{
			margin: 0;
			line-height: 60px;
			padding:0 24px;
		}
		.left-navigation:hover,.fight-against-pneumonia:hover{
			color:blue;
		}
		.bottom-left-navigation:hover,.bottom-right-navigation:hover{
			color:black;
		}
		.left-navigation{															
			color:black;
			font-size:13px;
			margin-right: 31px;
			display: inline-block;
		}
		.right-navigation{
			height: 60px;
			float: right;
		}
		.fight-against-pneumonia{
			color:red;
			margin-left:32px;
		}
		.main .logo-img{
			height: 100%;
		}
		.sign-in{
			background-color: #4e71f2;
			border-radius: 10px;
			margin-left: 32px;
			color: white;
			display: inline-block;
			height: 24px;
			width: 48px;
			line-height: 23px;
			text-align: center;
			margin-top: 17px;
		}
		.footer{
			background-color: #fafafa;
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            line-height: 40px;
            color: #9195a3;
            font-size: 12px;
            padding-left: 20px;
			padding-right: 20px;
		}
		.main .baidu-logo{
            height: 110px;
            display: inline-block;
            text-align: center;
            width: 100%;
			vertical-align: bottom;
		}
		.bottom-right-navigation,.bottom-right-title{
			margin-left:30px;
			float:right;
		}
		.bottom-left-navigation{
			float:left;
			margin-right:30px;
		}
		.main .search-btn{
			vertical-align: bottom;
			display:inline-block;
            cursor: pointer;
            width: 100px;
            height: 44px;
            line-height: 45px;
            line-height: 44px\9;
            padding: 0;
            background: 0 0;
            background-color: #4e6ef2;
            border-radius: 0 10px 10px 0;
            font-size: 17px;
            color: #fff;
            box-shadow: none;
            font-weight: 400;
            border: none;
            outline: 0;
            text-align:center;
        }
		.input-box{
		    width: 654px;
			height: 100%;
			text-align:center;
		}
        .main {
            width: 648px;
            margin: 0 auto;
            padding-top: 30px;
            position:relative;
        }
		.main .search-btn:hover {
            background: #4662d9;
        }
		.main .search-key {
            border: 2px solid #c4c7ce;
            border-right: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            width: 500px;
            padding: 10px;
            height: 20px;
            line-height: 20px;
            font-size: 20px;
            
            padding-right: 35px;
        }
        .main .search-key:focus {
            border-color: #4e6ef2;
        }
		.camere{
			font-size:30px;
			position: absolute;
			top: 147px;
			left: 514px;
			cursor: pointer;
			color:#9e9e9e;
		}
		.camere:hover{
			color:blue;
		}
		.change{
			right: 1px;
			top: 5px;
			display: inline-block;
			font-size: 25px;
			margin: 0px 4px 2px 0px;
			width: 21px;
			height: 24.83px;
			position: relative;
		}
		.change:hover{
			color:blue;
		}
		.change-text{
		    font-size: 13px;
			float: right;
			display: inline-block;
			height: 14.4px;
			color: #9195a3;
		}
		.change-text:hover{
			color:blue;
		}
		.hot-nav{
			font-size: 13px;
			display: inline-block;
			width: 646px;
			margin: 32px 0px 8px 0px;
		}
		.hot-title{
			width:56px;
			height:24px;
			font-size: 14px;
			line-height: 23px;
		}
		.news-rank-content{
			text-align: left;
			float:left;
			width:648px;
		}
		.rank{
			font-size:14px;
		}
		.rank:hover{
			color:blue;
			text-decoration:underline;
		}
		.rank-one{
			
		}
		.rank-one:hover{
			color:blue;
			text-decoration:underline;
		}

		.rank-first{
		    display: inline-block;
			font-size: 20px;
			height: 20px;
			width: 20px;
			color: #ffe622;
			margin: 0px 8px 4px 0px;
			line-height: 20px;
			vertical-align: middle;
		}
		.rank-second{
		    display: inline-block;
			font-size: 20px;
			height: 20px;
			width: 20px;
			color:#c3e1ff;
			margin:0px 8px 4px 0px;
			line-height: 20px;
			vertical-align: middle;
		}
		.rank-third{
		    display: inline-block;
			font-size: 20px;
			height: 20px;
			width: 20px;
			color:#e1d2b6;
			margin:0px 8px 4px 0px;
			line-height: 20px;
			vertical-align: middle;
		}
		.rank-other{
		    display: inline-block;
			font-size: 20px;
			height: 20px;
			width: 20px;
			color:#eeeeee;
			margin:0px 8px 4px 0px;
			line-height: 20px;
			vertical-align: middle;
		}
		.rank-icon-new{	
			nt-size: 16px;
			color: red;
			margin: 0px 0px 4px 4px;
			height: 16px;
			line-height: 19px;
			display: inline-block;
		}
		.rank-icon-hot{
		    display: inline-block;
			font-size: 16px;
			color: orange;
			margin: 0px 0px 4px 4px;
			height: 16px;
			width: 16px;
			line-height: 18px;
		}
		.search-box{

		}
		.refresh{
			font-size: 13px;
			float: right;
			line-height: 18px;
			color: #949494;
		}
		.rank-nummber-left{
			font-size: 12px;
			color: white;
			position: relative;
			left: -14px;
			top: -3px;
		}
		.rank-nummber-right{
			font-size: 12px;
			color: #a5a5a5;
			position: relative;
			left: -14px;
			top: -3px;
		}
		.refresh:hover{
			color:blue;
		}