@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1590068435478'); /* IE9 */
  src: url('iconfont.eot?t=1590068435478#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABmwAAAKLAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gRgBNgIkAwgLBgAEIAWEbQcrG7kFyK4xNoZWT6TEyI7emUHpna6ovlj5qPietYiH+v34nX13v2oSMdSjSsanEyoJpouXpKFY0+keqV/uf20N4qXM63jchFnSvjJ/xWcHe53SiTRKJBEiF9q9awc1udseA25JQAElEJi/SDo8SLIg8ISywwXPFwsE1tY8WqHTYANuCBeBiVI7TX7YG9O8398f907/CiiQ+c4rlzkmTeoCjAMp0LEGRVYkkTeMXeASjhNoNKApd2S22UNVssYF4o5r61DN+aVkqXqhtmZpigdq1Ff3qg9wP/x+/DPhVGoKq+LktakFg59lZ5TZHFd9RICAVtegYA5I4mxt/LiCYOSCRtaiESBl6KfNTWwUe9UJ9tdZxc2gD/LvSeAKb5W5AklvRoF9o66kNDU3X3827zRK48Mrj7O756QL5F1Hej7iZm8BPv8Xqvd/1R712821cL5b24BDpEBOqbLavfLlS8m2ftFTxCH89IdoATZdXpdjkEPwMu/vRd8jwY9fHXo3nfo5Qf3+HcF/EvRsSV1kGapUBbXpyqjC+asaNWIT7O70M1bdc1PpUK/n1px1+lMo6o2hSZqDGk22QK16+6HRrPnqJl1YQWQDZtwBhHYvqLR6D0W7D5qkL9To9Qu12sOg0fnILZtMxK8fJl3IQuOGrhlHyjFJPSrdkn0KdM6KQsqROHND2Gt3i6k5RcRzzMjOdl9EoeI4xBk4jYIgxoRjj0xpOyKJ1umouje1zTiEusMY0QliQYYb5DLFIsrvLOqlz28R20lAxy1NNfYjwjJu/6inrdsDncujXk338krmzNYnhIIUFguhGRhEAoEYSuoHeYhJtDkjoglNx26n+srb6yvDr9sFjSxNFXZOEcsBAAA=') format('woff2'),
  url('iconfont.woff?t=1590068435478') format('woff'),
  url('iconfont.ttf?t=1590068435478') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1590068435478#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e626";
}

