@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1590068875709'); /* IE9 */
  src: url('iconfont.eot?t=1590068875709#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABqQAAAKSAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBNIFDATYCJAMICwYABCAFhG0HKxvkBREVjH+yHwd2s9UPrlQJDLgMaCrF2GDfg6faD317t2GmliWpsmR0ADA+6MoogVVl5l9sE2mU9CFhkVsVS56Rf8Sfn7W4JJrSQlxdWwMEyJD+497pXwEFMt955TLHpEld9jUOpED3wDZZgQTgDWMXvMDzEMCTWNmkuXW2VNxR7GkCyOoVsa+4F4IoyjLuCK4NaxU5jAvuZo95BByKvi+/KMwdDC4Wu6af+pFS/8twcuxmZzOLAoQQCGizC2CBbKAgw43JXsUijGrx5FQSgaKRrxmOg83IUf88xBW73BuAaCh8JpEnflR2A4DCYCgHw5MOAuvjE7v8zZv127eb169Xr14t3RA/4Rf5DQ8avw9Nh53Ycn3v1fDRC0+99j1n883048+uBnvheSbLaZzS+XmddngBaUqz3IZz+vqNfg7xEOmkaF7Pv7w190+/ytyYuSm6wXXAryq6khHuETr9w7Rvr/lRGEu9AuBM2jnb9D9/Q/Yf31vq1/vv7qUAfPh93hf5nUllmBvcz+oS+HuigR1qSGyTUU3UmDWUs3dV54kn4IC9gb5M1Ybcql1wL4gYGNyIAYs7yahSssEFL4rBFXfqwJMsbZu9CLJGsYh6AJl2ABAc/t5g+JoGy98HVcoXXIT6gyv/dPA0WtCeXlJLjSZGXzCC4AhpWFfkWsSIK+cYbwuf85KItkbu0gg4pl3ODLFCXmJBt4tdEQLiuoQBuAyLooaG6wxDMRORxrMsanqTGdalYmjCkE+gCAgcgVSoVqGgtzAqn59Dsa2Cjzva6txriHXS4YHDZA9Ah8pqUNujXNPZibmEIICwWgkMgB0VTrIGmuZRGRQSpmRCvOGxUDcaqjS3V5d/tw/wZOtMToFFRgEAAA==') format('woff2'),
  url('iconfont.woff?t=1590068875709') format('woff'),
  url('iconfont.ttf?t=1590068875709') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1590068875709#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-2:before {
  content: "\e629";
}

