@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1590070066493'); /* IE9 */
  src: url('iconfont.eot?t=1590070066493#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALAAAsAAAAABnQAAAJ0AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBBIEmATYCJAMICwYABCAFhG0HKxvHBcguMXY9EAmRUFFTKN2zV/Tz/4Nf5k3XIh7+2+9/+8zMV02qURwzT5RGglBfJ3TLVNHqmci6y6/99s1DXf/foyCi9XTvxHfDmldShVQIEUIDHHJ5DgHSF0mkecClK5l2dUHfCEVlaQJfHZnZwi7/P5fTG+ULZH6Qcplj8lEvO423BrQ3RpGVSeIN08sXNJCPCTQbMlDYs+/4GuoKvSoQTx46BtRzEUVh+UahvuZgES/UaUzP0jvgefj9+GsWdZK6TDeduLdjw/oPmqL8XD274iOiBHS8DhkLQCHO1GaOKQnGLGnmLxsDihL/oaqwTezVLNhfp2tbwQCU3JPUyW61NoECR2eAfaOuo7S1teSbH3buP9+eTc4AimJRXlTjVDMM7XyLic3nzrQq8/8KhD4pafHOmvcfcg0JEakG/dKh1fXdz3t876/3175zfw7rABX5bd6tgODDp/U2/9VdwJdeLgxVFP18oPE03uB3SXu2FCHX+nRgCfImM5kyCc3Cr5IOdPsba+i7N1dozEkZJA0GIWs0gRbqAtRpsQj1Gm2HZvP2jrfowUqiNGHOB4DQ6QuSdq8g6/SDFuov1On3D/U6owTNzkXPhS2mwmve/ZQMIRvNJ/SsJFbWLs2o/pKcu9DgrDxk3RLnXhyno0kxv0cx8Rxb8ntnJqJQcRLhLniOwjDBlBOfLBm5Iul8PFZ1bxpZSQRNuzFiEMSGTE+Qx5KIKb+zaJY+f4k47oQM3ELIBW8RlvPGR1Mjkx7onibuRbiXV3L3HDNCKEhhiQjaBfNIKJRAaf08H7GIEXdEKjU3Nu1UX81ofV30dbugmTamMGVZLAI=') format('woff2'),
  url('iconfont.woff?t=1590070066493') format('woff'),
  url('iconfont.ttf?t=1590070066493') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1590070066493#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-4:before {
  content: "\e62d";
}

